*{
  margin:0;
  padding:0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  height: 70px;
  line-height: 70px;
}

.container {
  width: 1170px;
  margin: auto;
  overflow: hidden;
}

.logo {
  float: left;
}
nav {
  float: right;
}
nav ul {
  overflow: hidden;
}
nav ul li {
  float: left;
  margin-right: 10px;
}
main .container {
  display: flex;
  height: 500px;
}
main .left,
main .right {
  width: 100px;
  height: 500px;

  background-color: rgb(239, 239, 239);
}

footer {
  background-color: rgb(239, 239, 239);
}
main .middle {
  flex: 1;
  height: 500px;
  background-color: gray;
  margin: 0px 30px;
}
footer {
  padding: 30px 0;
}
footer .container .top {
  display: flex;
  margin-left: 300px;
  justify-content: space-between;
}
footer .container .middle,
footer .container .bottom {
  text-align: center;
}
footer .middle p {
  display: inline-block;
}
